<ul>
  <div class="cmt">
    <div class="comment">
      <span class="content">
        <b><%= comment.user_name %>: </b>
        <i>" <%= comment.content %> "</i>
      </span>
      <span class="timestamp">
        <i><%= time_ago_in_words(comment.created_at) %><%= t "comment.ago" %></i>
      </span>
    </div>
    <% if current_user?(comment.user) %>
      <%= link_to t("delete"), book_review_comment_path(book,
        comment.review, comment), method: :delete, data: {confirm: t("sure")} %>
    <% end %>
  </div>
</ul>
