<% provide :title, t("book_index") %>
<div class="container">
  <div class="row">
    <div class="search-form col-md-4">
      <%= search_form_for @q do |f| %>
        <div class="field">
          <%= f.label :title_cont, t("search_book") %>
          <%= f.text_field :title_cont, class: "form-control",
            placeholder: t("placeholder_search") %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <h1 class="all-book"><%= t "all" %><br>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      </h1>
    </div>
  </div>
</div>
<% if @books.any? %>
  <div class="row">
    <%= render @books %>
  </div>
<% else %>
  <h1><%= t "no_book" %></h1>
<% end %>

<%= will_paginate %>
