<% provide :title, t("book_detail") %>

<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
  </div>

  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @book.title %></h2>
      <h3 class="book-author">
        <span><%= t "book.by" %></span><%= @book.author %>
      </h3>
      <h2 class="avg-rating"><%= t "book.avg_rate" %></h2>
      <p class="book-desc"><%= @book.content %></p>
    </div>
  </div>
</div>

<br>

<div class="links btn-group">
  <%= link_to t("back"), books_path, class: "btn btn-custom" %>
  <%= link_to t("edit"), edit_book_path(@book), class: "btn btn-custom" %>
  <%= link_to t("delete"), book_path(@book),
    method: :delete, data: {confirm: t("sure")}, class: "btn btn-custom" %>
</div>
