<% if activity.trackable %>
  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
  <%= link_to activity.owner.name, activity.owner %>
  <%= t "favorite_on" %>
  "<%= link_to activity.trackable.book.title, activity.trackable.book %>"
  <span class="timestamp">
    <i><%= time_ago_in_words(activity.created_at) %> <%= t "ago" %></i>
  </span>
<% else %>
  <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
  <%= link_to activity.owner.name, activity.owner %>
  <%= t "favorite_on_del" %>
  <span class="timestamp">
    <i><%= time_ago_in_words(activity.created_at) %> <%= t "ago" %></i>
  </span>
<% end %>
