<div class="container-fluid">
  <div class="row">
    <h1 class="col-md-10"><%= t "manage_suggest" %></h1>
    <div class="col-md-2">
      <%= search_form_for @q, url: admin_suggests_path, method: :get do |f| %>
        <div class="field">
          <%= f.label :status_cont, t("status") %>
          <%= f.select :status_cont, options_for_select(Suggest.statuses),
          prompt: t("selections") %>
          <%= f.submit t("search"), class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t "index" %></th>
          <th><%= t "user_name" %></th>
          <th><%= t "book_name" %></th>
          <th><%= t "category" %></th>
          <th><%= t "publisher" %></th>
          <th><%= t "author" %></th>
          <th><%= t "number_page" %></th>
          <th><%= t "status" %></th>
          <th><%= t "action" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @suggests %>
      </tbody>
    </table>
  </div>
  <div class="container">
    <p>
      <%= t("download") %><%= link_to t("file_xls"), admin_suggests_path(format: Settings.xls) %>
      | <%= link_to t("file_csv"), admin_suggests_path(format: Settings.csv) %>
    </p>
  </div>
</div>

<%= will_paginate %>
